<div class="container">
    <h1 class="heading-txt" style="text-align: center;">Contact</h1>
    <div style="display: flex; justify-content: space-evenly;">
            <div class="card text-white bg-dark mb-2" style="max-width: 40rem;">
        <div class="card-header">Visiting Address</div>
        <div class="card-body">
            <h5 class="card-text">Best Cars</br></br>Austin , US</br></br></h5>
            <p class="card-text">Phone: 0099999999 </br> Email: support@bestcardealership.com </p>
        </div>
    </div>
    </div>
</div>